.background {
  background-image: url("../images/webp/image70.webp");
}
.mainText {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 528px;
  font-size: 24px;
}
.title {
  margin-top: 100px;
  color: #190f27;
  font-family: Rubik;
  font-size: 271.627px;
  font-style: normal;
  font-weight: bolder;
  line-height: 316.898px;
  letter-spacing: -0.679px;
}
.subtitle {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
.subtitle a {
  margin-top: 16px;
  color: #64606a;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.06px;
  text-decoration-line: underline;
}
